<a href="https://colab.research.google.com/github/ergonrizky26/Startup-Campus_Data-Science-Bootcamp/blob/main/%5BPB4DS%5D_Basic_Python_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2. Variable
Fungsinya untuk menampung value

In [1]:
x = 100
print(x)

100

In [2]:
x_string = 'belajar python'
print(x_string)

belajar python

In [4]:
# Penulisan variabel tidak boleh terdapat spasi
# Beberapa penulisan variable yang benar
A_B = 200
Data_Input = 300
DataInput = 400
datainput = 500

#3. Data Types
1. Numeric -> Integer, Float, Complex Number
2. Dictionary
3. Boolean
4. Set
5. Sequence Type -> Strings, List, Tuple

In [5]:
# Integer type example
x = 210

print(type(x))

<class 'int'>

In [6]:
# Float type example
y = 2.30

print(type(y))

<class 'float'>

In [7]:
# String type example
z = 'word of the day'

print(type(z))

<class 'str'>

In [8]:
# List type example

lemari = ['baju', 'celana', 'buku']

print(lemari[0])
print(lemari[1])
print(lemari[2])

baju
celana
buku

In [11]:
# Indexing negative list

print(lemari[-1])
print(lemari[-2])
print(lemari[-3])

buku
celana
baju

In [13]:
# Dictionary type example

mapping_ibukota = {
    'Indonesia': 'Jakarta',
    'Malaysia': 'Kuala Lumpur',
    'Jepang' : 'Tokyo'
}

print(mapping_ibukota['Indonesia'])

Jakarta

In [14]:
# How to show keys on dictionary

mapping_ibukota.keys()

dict_keys(['Indonesia', 'Malaysia', 'Jepang'])

In [15]:
# How to show values on dictionary

mapping_ibukota.values()

dict_values(['Jakarta', 'Kuala Lumpur', 'Tokyo'])

In [16]:
# Adding keys and value to dictionary

mapping_ibukota['China'] = 'Beijing'

print(mapping_ibukota)

{'Indonesia': 'Jakarta', 'Malaysia': 'Kuala Lumpur', 'Jepang': 'Tokyo', 'China': 'Beijing'}

# KUIS

Jawab : **D**

In [18]:
# Tentukan hasil dari Python script di bawah ini jika di run

x = ['Startup Campus', 1500, '2024', 2.5]

print(type(x[-2]))

<class 'str'>

#4. Arithmetic Operators

In [19]:
A = 100.3
B = 50

print(A + B)

150.3

In [20]:
C = 25
D = 5

print(C/D)

5.0

In [21]:
print(C * D)

125

In [22]:
E = 30
F = 4

print(E % F)

2

In [23]:
print(E // F)

7

#5. Conditional

In [24]:
# Ekivalen
print(20 == 40)

False

In [25]:
print(100 == 100)

True

In [26]:
print('Sapi' != 'Babi')

True

In [27]:
print(2 <= 5)

True

In [28]:
print(1000 < 500)

False

In [29]:
print(400 >= 400)

True

In [30]:
# AND & OR

print(True & True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

In [32]:
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

In [33]:
print((1006 != 1007) & (10 < 20))

True

#6. Conditional IF-ELSE

In [34]:
a = 5
b = 100
if b > a:
    print('b lebih besar dari a')

b lebih besar dari a

In [3]:
c = 90
d = 50

if d > c:
  print("d lebih besar dari c")
elif c == d:
  print("c sama dengan d")
else:
  print("c lebih besar dari d")

c lebih besar dari d

In [4]:
a = 100

if a == 0:
  print('Bilangan nol')
elif a % 2 == 0:
  print('Bilangan genap')
elif a % 2 == 1:
  print('Bilangan ganjil')
else:
  print('Buka bilangan bulat')

Bilangan genap

#KUIS

Jawab : **A**

In [5]:
# Tentukan hasil dari Python script di bawah ini jika dijalankan

n = 2000

if n % 2 == 0 and n % 4 == 0:
  print('Yey')
elif n / 2 == 1000:
  print('Horeee')
else:
  print('Mager')

Yey

#6. Initial and Loop - For

In [8]:
W = [1, 2, 3, 4, 5]
total_init = 0

for x in W:
  print(total_init, total_init + x)
  total_init = total_init + x

print(total_init)

0 1
1 3
3 6
6 10
10 15
15

In [9]:
W = [1, 2, 3, 4, 5]
total_init = 0

for x in W:
  total_init += x

print(total_init)

15

In [10]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

#7. Initial and Loop - While

In [11]:
# While Loop

count = 0
while(count < 3):
  count += 1
  print('Hello Geek')

Hello Geek
Hello Geek
Hello Geek

#KUIS

Jawab : **C**

In [13]:
# Tentukan hasil dari Python script di bawah ini ini jika dijalankan

num_1 = 1
num_2 = 1

for i in range(10):
  num = num_2 + num_1
  num_2, num_1 = num, num_2

print(num)

144